form {
  width: 500px;
  height: 140px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  gap: 20px;
  background: rgb(128, 128, 128, 0.55);
}


input {
  width: 60%;
  height: 35px;
  padding-left: 10px;
  border: none;
}

input:focus{
  outline: none;
}

button {
  height: 40px;
  width: 100px;
}